:root {
	--clr-primary-red-600: hsl(0, 100%, 67%);
	--clr-primary-yellow-500: hsl(39, 100%, 56%);
	--clr-primary-green-300: hsl(166, 100%, 37%);
	--clr-primary-blue-400: hsl(234, 85%, 45%);

	--clr-bg-blue-600: hsl(252, 100%, 67%);
	--clr-bg-blue-500: hsl(241, 81%, 54%);
	--clr-bg-blue-400: hsla(256, 72%, 46%, 1);
	--clr-bg-blue-900: hsla(241, 72%, 46%, 0);

	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(221, 100%, 96%);
	--clr-neutral-400: hsl(241, 100%, 89%);
	--clr-neutral-900: hsl(224, 30%, 27%);

	--fs: 16px;
	--ff: "Hanken Grotesk", sans-serif;
	--fw-normal: 500;
	--fw-bold: 700;
	--fw-xBold: 800;
}

body {
	font-size: var(--fs);
	font-family: var(--ff);

	display: grid;
	height: 100vh;

	line-height: 1.1;
	background-color: var(--clr-neutral-100);
}

ul {
	padding: 0;
}

.result {
	max-width: 610px;
	min-width: 374px;
	display: grid;
}

.result__score {
	display: grid;
	gap: 2rem;
	justify-items: center;

	background: linear-gradient(
		var(--clr-bg-blue-400) 20%,
		var(--clr-bg-blue-500)
	);
	color: var(--clr-neutral-100);
	padding: 2.5rem;
	border-radius: 0 0 2rem 2rem;
}

.result__score__circle {
	width: 8rem;
	height: 8rem;

	border-radius: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 2rem;
	background: linear-gradient(var(--clr-bg-blue-600), var(--clr-bg-blue-500));
}

.result__score__value {
	display: block;
	font-weight: var(--fw-xBold);
	font-size: 3rem;
}

.result__score__detail {
	font-size: 16px;
	text-align: center;
}

.result__summary {
	padding: 2rem 2rem;
	display: grid;
	gap: 1.5rem;
}

.score__detail {
	display: grid;
	gap: 1rem;
}

.score__detail__row {
	font-size: 14px;
	font-weight: var(--fw-bold);

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--clr-neutral-400);
	background-color: var(--clr-bg-blue-400);

	padding: 0.75rem;
	border-radius: 5px;
}

.score__value {
	color: black;
}

.btn {
	border: 0;
	width: 100%;
	background-color: var(--clr-neutral-900);
	color: var(--clr-neutral-100);

	padding: 0.75rem 1.5rem;
	border-radius: 3rem;

	font-size: 16px;
}

/* COLOR */
.pink {
	background-color: hsl(0, 100%, 67%, 0.1);
}

.pink__text {
	color: var(--clr-primary-red-600);
}

.yellow {
	background-color: hsl(39, 100%, 56%, 0.1);
}
.yellow__text {
	color: var(--clr-primary-yellow-500);
}

.green {
	background-color: hsl(166, 100%, 37%, 0.1);
}
.green__text {
	color: var(--clr-primary-green-300);
}

.blue {
	background-color: hsl(234, 85%, 45%, 0.1);
}
.blue__text {
	color: var(--clr-primary-blue-400);
}

.flex-group {
	display: flex;
	align-items: center;
}

.icon {
	width: 15px;
	margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
	body {
		place-content: center;
	}

	.result {
		grid-template-columns: 1fr 1fr;
		border-radius: 2rem;

		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

	.result__score {
		border-radius: 2rem;
	}
}
